<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="/css/create-edite-Product.css" />
  </head>

  <body>
    <%- include("../partials/header") %>
    <main>
      <h1>Publicar servicio</h1>
      <div class="form-img">
        <form action="/product" method="POST" enctype="multipart/form-data">
          <div class="div-categoria">
            <select class="categoria" name="category">
              <option
                class="select-categoria"
                name="category"
                value=""
              >
                - Selecciona una categoría -
              </option>

            <% let categories=['Yoga', 'Fitness' , 'Danzas' , 'Deportes' ]; %>
                                    <% for (const oneCategory of categories) { %>
                                        <option value="<%= oneCategory%>" <%=locals.oldData && (oneCategory===oldData.category)
                                            ? 'selected' : null %> >
                                            <%= oneCategory%>
                                        </option>
                                        <% }%>
            </select>

          </div>

          <% if (locals.errors && errors.category) { %>
            <div class="text-danger">
                <%= errors.category.msg %>
            </div>
            <% } %>

          <div class="div-subcategory">
            <select class="categoria" name="subcategory">
              <option
                class="select-categoria"
                name="subcategory"
                value=""
              >
                - Selecciona una subcategoría -
              </option>

              <% let subcategories=['Yoga-Mysore', 'Yoga-Ashtanga' , 'Yoga-Hatha' , 'Yoga-Kundalini', 'Yoga-Flow', 'Yoga-Flex', 'Fitness-Functional', 'Fitness-Pilates', 'Fitness-Musculación', 'Fitness-Crossfit', 'Fitness-Gimnasio', 'Fitness-De combate', 'Danzas-Clásico', 'Danzas-Urbano', 'Danzas-Salsa', 'Danzas-Tango', 'Danzas-Folklore', 'Danzas-Cuarteto', 'Danzas-Contemporáneo', 'Deportes-Acuáticos', 'Deportes-Gimnasia', 'Deportes-Extremos', 'Deportes-En Conjunto', 'Deportes-Montaña']; %>
                                    <% for (const oneSubcategory of subcategories) { %>
                                        <option value="<%= oneSubcategory%>" <%=locals.oldData && (oneSubcategory===oldData.subcategory)
                                            ? 'selected' : null %> >
                                            <%= oneSubcategory%>
                                        </option>
                                        <% }%>

            </select>
            
          </div>

          <% if (locals.errors && errors.subcategory) { %>
            <div class="text-danger">
                <%= errors.subcategory.msg %>
            </div>
            <% } %>

          <div class="container-name-service">
            <label for="activity_name">Nombre del servicio</label>
            <input class="lsinput <%= locals.errors && errors.activity_name ? 'is-invalid' : null %>" type="text" name="activity_name"
            value="<%= locals.oldData ? oldData.first_name : null %>"
            id="name"
            >
            <% if (locals.errors && errors.activity_name) { %>
              <div class="text-danger">
                  <%= errors.activity_name.msg %>
              </div>
              <% } %>
          
              <p class="error text-danger"></p>

          </div>

          <div class="container-name-service">
            <label for="aliado_id">Nombre del Aliado</label>
            <input class="lsinput <%= locals.errors && errors.aliado_name ? 'is-invalid' : null %>" type="text" name="aliado_name"
            value="<%= locals.oldData ? oldData.aliado_name : null %>">
            <% if (locals.errors && errors.aliado_name) { %>
              <div class="text-danger">
                  <%= errors.aliado_name.msg %>
              </div>
              <% } %>
          </div>

          <div class="div-value-disc">
            <div class="div-value">
              <label for="price">Valor</label>
              <input class="sinput <%= locals.errors && errors.price ? 'is-invalid' : null %>" type="text" name="price"
              value="<%= locals.oldData ? oldData.price : null %>">
              <% if (locals.errors && errors.price) { %>
                <div class="text-danger">
                    <%= errors.price.msg %>
                </div>
                <% } %>
              
            </div>

            <div class="div-disc">
              <label for="discount">Aplicar descuento</label>
              <input
                class="sinput"
                placeholder="(opcional)"
                type="text"
                name="discount"
              >
              <p>%</p>
              <span class="feedback"></span>
            </div>
          </div>
          <div class="container-name-service">
            <label for="spots">Cupos</label>
            <input class="lsinput <%= locals.errors && errors.spots ? 'is-invalid' : null %>" type="text" name="spots"
            value="<%= locals.oldData ? oldData.spots : null %>">
            <% if (locals.errors && errors.spots) { %>
              <div class="text-danger">
                  <%= errors.spots.msg %>
              </div>
              <% } %>
          </div>

          <div class="div-description">
            <label for="product_description">Descripción</label>
            <input class="lfinput <%= locals.errors && errors.product_description ? 'is-invalid' : null %>" type="text" name="product_description" value="<%= locals.oldData ? oldData.product_description : null %>" id="description">
            <% if (locals.errors && errors.product_description) { %>
              <div class="text-danger">
                  <%= errors.product_description.msg %>
              </div>
              <% } %>

              <p class="error text-danger"></p>
          </div>

          <div class="div-description">
            <label for="shedule">Horarios</label>
            <input class="lfinput <%= locals.errors && errors.schedule ? 'is-invalid' : null %>" type="date" name="schedule"
            value="<%= locals.oldData ? oldData.schedule : null %>">
            <% if (locals.errors && errors.schedule) { %>
              <div class="text-danger">
                  <%= errors.schedule.msg %>
              </div>
              <% } %>
          </div>

          <div class="container-name-service containerhoras">
            <label for="length">Duración</label>
            <input class="lsinput horasinput <%= locals.errors && errors.length ? 'is-invalid' : null %>" type="time" name="length"
            value="<%= locals.oldData ? oldData.length : null %>">
            <p>hs</p>
            <% if (locals.errors && errors.length) { %>
              <div class="text-danger">
                  <%= errors.length.msg %>
              </div>
              <% } %>
          </div>

          <div class="div-add-pictures">
            <label for="image">Agregar fotos</label>

            <input class="add-pictures" type="file" name="image"
                            value="<%= locals.oldData ? oldData.image : null %>" id="imageInput">

                        <% if (locals.errors && errors.image) { %>
                            <div class="text-danger">
                                <%= errors.image.msg %>
                            </div>
                            <% } %>
                            <p class="error text-danger" id="imageError"></p>
          </div>

          <div class="div-difficulty">
            <label for="difficulty">difficulty</label>
            <select name="difficulty" class="difficulty">
              <option
                class="select-difficulty"
                name="difficulty"
                value=""
              >
                - Selecciona una dificultad -
              </option>

              <% let difficulties=['Principiante', 'Fácil' , 'Intermedio' , 'Difícil', 'Avanzado' ]; %>
                                    <% for (const oneDifficulty of difficulties) { %>
                                        <option value="<%= oneDifficulty%>" <%=locals.oldData && (oneDifficulty===oldData.difficulty)
                                            ? 'selected' : null %> >
                                            <%= oneDifficulty%>
                                        </option>
                                        <% }%>
            </select>
            
          </div>
          <% if (locals.errors && errors.difficulty) { %>
            <div class="text-danger">
                <%= errors.difficulty.msg %>
            </div>
            <% } %>

          <div class="div-complete-direction">
            <label for="adress">Dirección Completa</label>
            <input class="lsinput <%= locals.errors && errors.adress ? 'is-invalid' : null %>" type="text" name="adress"
            value="<%= locals.oldData ? oldData.adress: null %>">
            <% if (locals.errors && errors.adress) { %>
              <div class="text-danger">
                  <%= errors.adress.msg %>
              </div>
              <% } %>
            
          </div>
          <div class="div-city">
            <label for="city">Ciudad</label>
            <input class="lsinput <%= locals.errors && errors.city ? 'is-invalid' : null %>" type="text" name="city"
            value="<%= locals.oldData ? oldData.city: null %>">
            <% if (locals.errors && errors.city) { %>
              <div class="text-danger">
                  <%= errors.city.msg %>
              </div>
              <% } %>
            
          </div>
          <div class="div-ages">
            <label for="age">Edades</label>
            <div>
              <input type="checkbox" name="age" value="Niños" />Niños
            </div>
            <div>
              <input
                type="checkbox"
                name="age"
                value="Adolescentes"
              />Adolescentes
            </div>
            <div>
              <input
                type="checkbox"
                name="age"
                value="Jóvenes"
              />Jóvenes
            </div>


            <div>
              <input
                type="checkbox"
                name="age"
                value="Adultos"
              />Adultos
            </div>
            <% if (locals.errors && errors.age) { %>
              <div class="text-danger">
                  <%= errors.age.msg %>
              </div>
              <% } %>
          </div>
          <div class="div-ages">
            <label for="mode">Modalidad</label>
            <div>
              <input
                type="checkbox"
                name="mode"
                value="presencial"
              />Presencial
            </div>
            <div>
              <input type="checkbox" name="mode" value="virtual" />Virtual
            </div>
            <% if (locals.errors && errors.mode) { %>
              <div class="text-danger">
                  <%= errors.mode.msg %>
              </div>
              <% } %>
          </div>
          <div class="div-submit-button">
            <button class="submit-button" type="submit" value="submit" id="submit-btn">
              Publicar servicio
            </button>
          </div>
          <div class="div-reset-button">
            <button id="reset-button-create" class="reset-button" type="reset" value="reset">
              Borrar campos
            </button>
          </div>
        </form>
        <div class="div-right-img">
          <img
            class="right-img"
            src="/images/diseno/editworkouteasy2-b.png"
            alt=""
          />
          <img
            class="right-img"
            src="/images/diseno/editworkouteasy3-b.png"
            alt=""
          />
        </div>
      </div>
    </main>
    <%- include("../partials/footer") %>
    <button class="consultas">
      <i class="fa-regular fa-circle-question fa-lg" style="color: #ffffff"></i>
      Consultas
    </button>
    <script src="/js/createProduct.js"></script>
  </body>
</html>
