<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
        <link rel="stylesheet" href="/css/create-edite-Product.css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <%- include("../partials/header") %>
        <main>
            <h1>Editar servicio</h1>
            <div class="form-img">
                <form action="/product/<%=producto.id%>/editProduct?_method=put" method="POST" enctype="multipart/form-data">
                    <div class="div-categorie">
                        <select class="categoria" name="category">
                            <option default class="select-categoria" name="category" value="<%= producto.category %>">
                              -  <%= producto.category %> -
                            </option>
                            <option name="category">Yoga</option>
                            <option name="category">Fitness</option>
                            <option name="category">Danzas</option>
                            <option name="category">Deportes</option>
                        </select>
                        <span class="feedback"></span>
                    </div>
                    <div class="div-subcategorie">
                        <select class="categorie" name="subcategory">
                            <option default class="select-categorie" name="subcategory" value="<%= producto.subcategory %>">
                               - <%= producto.subcategory %> -
                            </option>
                            <option name="subcategory">Yoga-Mysore</option>
                            <option name="subcategory">Yoga-Ashtanga</option>
                            <option name="subcategory">Yoga-Hatha</option>
                            <option name="subcategory">Yoga-Kundalini</option>
                            <option name="subcategory">Yoga-Flow</option>
                            <option name="subcategory">Yoga-Flex</option>
                            <option name="subcategory">Fitness-Funcional</option>
                            <option name="subcategory">Fitness-Pilates</option>
                            <option name="subcategory">Fitness-Musculación</option>
                            <option name="subcategory">Fitness-Crossfit</option>
                            <option name="subcategory">Fitness-Gimnasio</option>
                            <option name="subcategory">Fitness-De combate</option>
                            <option name="subcategory">Danzas-Clásico</option>
                            <option name="subcategory">Danzas-Urbano</option>
                            <option name="subcategory">Danzas-Salsa</option>
                            <option name="subcategory">Danzas-Tango</option>
                            <option name="subcategory">Danzas-Folklore</option>
                            <option name="subcategory">Danzas-Cuarteto</option>
                            <option name="subcategory">Danzas-Contemporáneo</option>
                            <option name="subcategory">Deportes-Acuáticos</option>
                            <option name="subcategory">Deportes-Gimnasia</option>
                            <option name="subcategory">Deportes-Extremos</option>
                            <option name="subcategory">Deportes-En conjunto</option>
                            <option name="subcategory">Deportes-Montaña</option>
                        </select>
                        <span class="feedback"></span>
                    </div>
                    <div class="container-name-service">
                        <label for="name-service">Nombre del servicio</label>
                        <input class="lsinput" type="text" name="activity_name" value="<%=producto.activity_name%>">
                        <span class="feedback"></span>
                    </div>
                    <div class="container-name-service">
                        <label for="name-service">Nombre del Aliado</label>
                        <input class="lsinput" type="text" name="aliado_name" value="<%=producto.aliado_name%>">
                        <span class="feedback"></span>
                    </div>
            
                    <div class="div-value-disc">
                        <div class="div-value">
                            <label for="value">Valor</label>
                            <input class="sinput" type="number" name="price" value="<%=producto.price%>">
                            <span class="feedback"></span>
                        </div>
                        <div class="div-disc">
                            <label for="apply-disc">Aplicar descuento</label>
                            <input class="sinput" placeholder="(opcional)" type="number" name="discount" value="<%=producto.discount%>">
                            <p>%</p>
                            <span class="feedback"></span>
                        </div>
                    </div>
                    <div class="container-name-service">
                        <label for="name-service">Cupos</label>
                        <input class="lsinput" type="text" name="spots" value="<%=producto.spots%>">
                        <span class="feedback"></span>
                    </div>
                
                    <div class="div-description">
                        <label for="description">Descripción</label>
                        <input class="lfinput" type="text" name="product_description" value="<%=producto.product_description%>">
                        <span class="feedback"></span>
                    </div>
                    <div class="container-name-service">
                        <label for="name-service">Horarios</label>
                        <input class="lsinput" type="text" name="schedule" value="<%=producto.schedule%>">
                        <span class="feedback"></span>
                    </div>
      
                    <div class="container-name-service">
                        <label for="name-service">Duración</label>
                        <input class="lsinput" type="text" name="length" value="<%=producto.length%>">
                        <span class="feedback"></span>
                    </div>
      
                
                    <div class="div-add-pictures">
                        <label for="add-pictures">Agregar fotos</label>
                        <input type="hidden" name="oldImage" value="<%= producto.image %>">
                        <input class="add-pictures" type="file" name="image" accept="image/*" value="<%= producto.image %>">
                        <span class="feedback"></span>
                    </div>
                    <div class="div-difficulty">
                        <label for="difficulty">Dificultad</label>
                        <select name="difficulty" class="difficulty" value="difficulty">
                            <option class="select-difficulty" default value="<%=producto.difficulty%>">-
                                <%=producto.difficulty%> -</i></option>
                            <option value="<%=producto.difficulty%>">Principiante</i></option>
                            <option value="<%=producto.difficulty%>">Facil</i></option>
                            <option value="<%=producto.difficulty%>">Intermedio</i></option>
                            <option value="<%=producto.difficulty%>">Dificil</i></option>
                            <option value="<%=producto.difficulty%>">Avanzado</i></option>
                        </select>
                        <span class="feedback"></span>
                    </div>
                    <div class="div-complete-direction">
                        <label for="complete-direction">Dirección Completa</label>
                        <input class="lsinput" type="text" name="adress" value="<%=producto.adress%>">
                        <span class="feedback"></span>
                    </div>
                    <div class="div-city">
                        <label for="city">Ciudad</label>
                        <input class="lsinput" type="text" name="city" value="<%=producto.city%>">
                        <span class="feedback"></span>
                    </div>
                    <div class="div-ages">
                        <label for="age">Edades</label>
                        <div>
                            <input type="checkbox" name="age" value="Niños"> Niños
                        </div>
                        <div>
                            <input type="checkbox" name="age" value="Adolescentes"> Adolescentes
                        </div>
                        <div>
                            <input type="checkbox" name="age" value="Jovenes"> Jóvenes
                        </div>
                        <div>
                            <input type="checkbox" name="age" value="Adultos"> Adultos
                        </div>
                        <span class="feedback"></span>
                    </div>

                    <div class="div-ages">
                        <label for="modalidad">Modalidad</label>
                        <div>
                            <input type="checkbox" name="mode" value="<%=producto.mode%>"> Presencial
                        </div>
                        <div>
                            <input type="checkbox" name="mode" value="<%=producto.mode%>"> Virtual
                        </div>
                        
                        <span class="feedback"></span>
                    </div>
                
                    <div class="div-submit-button">
                            <button class="submit-button" type="submit" value="submit">Guardar edicion</button>
                    </div>
                    <div class="div-reset-button">
                        <button class="reset-button" type="reset" value="reset">Borrar campos</button>
                    </div>
                </form>
                <div class="div-right-img">
                    <img class="right-img" src="/images/diseno/editworkouteasy2-b.png" alt="">
                    <img class="right-img" src="/images/diseno/editworkouteasy3-b.png" alt="">
                </div>
            </div>
            <form action="/product/<%=producto.id%>/delete?_method=delete" method="POST" id="formDelete">
                <div class="div-submit-button">
                <button id="delProd" type="submit" class="action-button delete">Eliminar producto</button>
                </div>
                </form>
            <script>
                const btnDel = document.getElementById('delProd');
                const formDel = document.getElementById('formDelete');

            btnDel.addEventListener('click', function(e){

            e.preventDefault();

            Swal.fire({
                title: 'Estás seguro?',
                text: "El cambio no se puede revertir!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, lo quiero borrar!'
              }).then((result) => {
                if (result.isConfirmed) {
                    formDel.submit();
                }
              })
            })
            </script>

        </main>
        <%- include("../partials/footer") %>
            <button class="consultas">
                <i class="fa-regular fa-circle-question fa-lg" style="color: #ffffff;"></i>
                Consultas</button>
</body>

</html>