<!DOCTYPE html>
<html lang="en">

<head>

    <header>
        <%- include("../partials/head") %>
            <link rel="stylesheet" href="/css/productDetail.css">
    </header>
</head>

<body>
    <%- include("../partials/header") %>

        <main class="main">


            <div class="banner-escalada">
                <section class="titulo-general">
                </section>

                <section class="titulo-h1">
                    <h1><%= producto.category %></h1>
                </section>
            </div>

            <section class="container-product">

                <div class="container-img-producto">

                    <img src="/images/productos/<%= producto.image %>" alt="imagenYoga" class="img-producto">

                    <div class="boton"><button class="reserva">Reservá tu lugar</button></div>
                    <div class="boton"><a href="/product/<%=producto.id%>/editProduct"><button class="editar">Editar producto</button></a></div>
                
                </div>

                <section class="texto-producto-container">

                    <h3 class="texto-actividad" id="nombreActividad"><%= producto.activity_name %></h3>
                    
                    <p class="texto-actividad" name="profe"> <%= producto.aliado_id %></p>

                    <p class="texto-actividad">Dificultad: <%= producto.difficulty %> </p>

                    <div class="texto-actividad">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>

                    <div class="seccion-texto">

                        <p class="texto-actividad">Disponibilidad</p>
                        <h3>12</h3>

                    </div>

                    <div class="seccion-texto">

                        <p class="texto-actividad">Valor</p>
                        <h3><%= producto.price %></h3>

                    </div>

                    <div class="descripcion-actividad">
                        <div>
                            <p class="titulo-descripcion">Descripción:</p>
                            <p><%= producto.product_description %></p>
                        </div>
                        <div>
                            <p class="titulo-descripcion">Horarios: </p>
                            <p><%= producto.schedule %></p>
                        </div>
                        <div>
                            <p class="titulo-descripcion">Edades: </p>
                            <p><%= producto.age %></p>
                        </div>
                        <div>
                            <p class="titulo-descripcion">Duración: </p>
                            <p><%= producto.length %></p>
                        </div>
                        <div>
                            <p class="titulo-descripcion">Modalidad: </p>
                            <p><%= producto.mode %></p>
                        </div>
                        <div>
                            <p class="titulo-descripcion">Direccion: </p>
                            <p><%= producto.city %></p>
                        </div>
                        <div>
                            <p class="titulo-descripcion">Ciudad: </p>
                            <p><%= producto.city %></p>
                        </div>
                    </div>

                </section>

            </section>

            <section class="reviews">
            <h4 class="titulo-reviews"> Reviews y comentarios!</h4>
            <h5 class="titulo-reviews">Dejanos tu opinión y observaciones sobre la actividad</h5>
            <br>
                <textarea rows="4" cols="50" class="comentario">

                </textarea>
            <br>
            <div><button class="boton-reviews">Enviar</button></div>
            <br>
            </section>

            <section class="busquedasRelacionadas">

                <h6 class="busquedasRelacionadasH6">Búsquedas relacionadas</h6>

                <div class="container-busquedas">

                    <article class="clase-relacionada">

                        <img src="/images/productos/functional.JPG" alt="functional" class="img-relacionada">
                        <h5>Functional</h5>
                        <p>
                            Mantenete entrenado con nuestras clases
                        </p>

                    </article>

                    <article class="clase-relacionada">
                        <img src="/images/productos/yoga1.JPG" alt="yoga1" class="img-relacionada">
                        <h5>Yoga al aire libre</h5>
                        <p>
                            Disfrutá de todos los beneficios del yoga.
                        </p>
                    </article>

                    <article class="clase-relacionada">
                        <img src="/images/productos/gimnasio.JPG" alt="gimnasio" class="img-relacionada">
                        <h5>Gimnasio Indoor</h5>
                        <p>
                            Entrenamiento adaptado a todos los niveles.
                        </p>
                    </article>

                </div>

            </section>

            </br>

            <section class="banner-promocional">

                <div class="texto-banner">

                    <h2 class="descuento">20% OFF</h2>

                    <h3>en tu primera compra</h3>

                    <p>hacé click aquí para obtener el cupón de descuento</p>

                    <div class="animacion-regalo"><i class="fa-solid fa-gift fa-2xl" style="color: #199eb3;"></i></div>
                
                </div>

                <img src="/images/diseno/editworkouteasy2-b.png" class="imagenbanner">
            </section>

        </main>
        <%- include("../partials/footer") %>
            <button class="consultas">
                <i class="fa-regular fa-circle-question fa-lg" style="color: #ffffff;"></i>
                Consultas</button>
</body>

</html>
