<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
        <link rel="stylesheet" href="/css/productList.css">
</head>

<body>
    <%- include("../partials/header") %>
        <main>
            <section class="titulo-general">
                <h1>CLASES</h1>
                <h3>Armá tu calendario para lograr tus objetivos</h3>
            </section>


            <section class="nav-filtros">
                <select>
                    <option>Todos</option>
                    <option>Yoga</option>
                    <option>Fitness</option>
                    <option>Montaña</option>
                    <option>Baile</option>
                    <option>Football</option>
                    <option>Tennis</option>
                </select>

            </section>


            <div class="container-grid">

                <section class="side-bar">

                    <div class="check-dificultad">
                        <h3>Dificultad</h3>
                        <div><input type="checkbox" name="dificultadcheck" value="principiante">Principiante</input>
                            <i class="fa-solid fa-star"></i>
                            <span class="checkmark"></span>
                        </div>
                        <div><input type="checkbox" name="dificultadcheck" value="fácil">Fácil</input>
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                            <span class="checkmark"></span>
                        </div>
                        <div><input type="checkbox" name="dificultadcheck" value="intermedio">Intermedio</input>
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i>
                            <span class="checkmark"></span>
                        </div>
                        <div><input type="checkbox" name="dificultadcheck" value="difícil">Difícil</input>
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                            <span class="checkmark"></span>
                        </div>
                        <div><input type="checkbox" name="dificultadcheck" value="avanzado">Avanzado</input>
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i>
                            <span class="checkmark"></span>
                        </div>
                    </div>

                    <div class="check-edad">
                        <h3>Edad</h3>
                        <div><input type="checkbox" name="edadcheck" value="niños">Niños</input>
                            <span class="checkmark"></span>
                        </div>
                        <div><input type="checkbox" name="edadcheck" value="adolescentes">Adolescentes</input>
                            <span class="checkmark"></span>
                        </div>
                        <div><input type="checkbox" name="edadcheck" value="jóvenes">Jovenes</input>
                            <span class="checkmark"></span>
                        </div>
                        <div><input type="checkbox" name="edadcheck" value="adultos">Adultos</input>
                            <span class="checkmark"></span>
                        </div>
                    </div>

                </section>

                <section class="productos-display">

                    <section class="fitness">

                        <div class="titulo-fitness">
                            <h3>FITNESS</h3>
                            <button>
                                <p>ver todo</p>
                            </button>
                        </div> 

                        <div class="actividades-container">
                            <% products.forEach(product=> { %>
                                <article class="actividad-ejemplo">

                                    <div class="foto">
                                        <div class="etiqueta-actividad">
                                            <p>
                                                <%= product.categoría %>
                                            </p>
                                        </div>
                                        <img src="/images/<%= product.img %>" alt="<%= product.subcategoría %>">
                                    </div>

                                    <div clas="info">
                                        <h3 class="texto-actividad">
                                            <%= product.nombreActividad %>
                                        </h3>
                                        <p class="texto-actividad">
                                            <%= product.nombreAliado %>
                                        </p>
                                        <p class="texto-actividad">Dificultad</p>
                                        <div class="texto-actividad">
                                            <p class="texto-actividad">
                                                <%= product.dificultad %>
                                            </p>
                                            <!-- <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                                class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i></i><i
                                                class="fa-regular fa-star"></i> -->
                                        </div>

                                        <div class="seccion-texto">
                                            <p class="texto-actividad">Disponibilidad</p>
                                            <h3><%= product.cupos %></h3>
                                        </div>
                                        <div class="seccion-texto">
                                            <p class="texto-actividad">Inscriptos</p>
                                            <h3>4</h3>
                                        </div>
                                        <div class="seccion-texto">
                                            <p class="texto-actividad">Valor</p>
                                            <h3><%= product.valor %></h3>
                                        </div>

                                        <div class="descripcion-actividad">
                                            <p>Descripción:</p>
                                            <p><%= product.descripción %></p>
                                        </div>
                                        <div class="leermas">
                                            <button>
                                                <p>Leer más</p>
                                            </button>
                                        </div>
                                    </div>

                                </article>
                                <% }) %>

                        </div>

                    </section>


                    

                </section>

            </div>

        </main>

        <%- include("../partials/footer") %>
            <button class="consultas">
                <i class="fa-regular fa-circle-question fa-lg" style="color: #ffffff;"></i>
                Consultas</button>

</body>

</html>