<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <%- include("../partials/head") %>
        <link rel="stylesheet" href="/css/productListYoga.css">
        <link rel="stylesheet" href="/css/productList.css">
    </head>
</head>

<body>
    <%- include("../partials/header") %>
        <main>

            <div class="banner-yoga">
                <section class="titulo-general">
                </section>

                <section class="titulo-h1">
                    <h1>YOGA</h1>
                </section>
            </div>

            <section class="nav-filtros">
                <select id="miSelect">
                    <option>Todos</option>
                    <option selected>Yoga</option>
                    <option>Fitness</option>
                    <option>Danzas</option>
                    <option>Deportes</option>
                </select>
            </section>

            <section class="filtros-yoga">
                <div class="contenedor-check"><input type="checkbox" name="filtrosyoga" value="ashtanga"> Ashtanga</input>
                    <span class="checkmark"></span>
                </div>
                <div class="contenedor-check"><label for="myCheckbox" class="circle-checkbox"></label><input type="checkbox" id="myCheckbox" name="filtrosyoga" value="hatha"> Hatha</input>
                    <span class="checkmark"></span>
                </div>
                <div class="contenedor-check"><input type="checkbox" name="filtrosyoga" value="flow"> Flow</input>
                    <span class="checkmark"></span>
                </div>
                <div class="contenedor-check"><input type="checkbox" name="filtrosyoga" value="flex"> Flex</input>
                    <span class="checkmark"></span>
                </div>
                <div class="contenedor-check"><input type="checkbox" name="filtrosyoga" value="kundalini"> Kundalini</input>
                    <span class="checkmark"></span>
                </div>
                <div class="contenedor-check"><input type="checkbox" name="filtrosyoga" value="maternal"> Maternal</input>
                    <span class="checkmark"></span>
                </div>
                <div class="contenedor-check"><input type="checkbox" name="filtrosyoga" value="Vinyasa"> Vinyasa</input>
                    <span class="checkmark"></span>
                </div>
            </section>

            <div class="cuerpo">
            <section class="side-bar">

                <form action="/product/filtrarProductosYoga" method="POST">
                    <div class="check-dificultad">
                        <h3>Dificultad</h3>
                        <div><input type="checkbox" name="dificultadcheck" value="principiante"> Principiante</input>
                            <i class="fa-solid fa-star"></i>
                            <span class="checkmark"></span>
                        </div>
                        <div><input type="checkbox" name="dificultadcheck" value="fácil"> Fácil</input>
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                            <span class="checkmark"></span>
                        </div>
                        <div><input type="checkbox" name="dificultadcheck" value="intermedio"> Intermedio</input>
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i>
                            <span class="checkmark"></span>
                        </div>
                        <div><input type="checkbox" name="dificultadcheck" value="difícil"> Difícil</input>
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                            <span class="checkmark"></span>
                        </div>
                        <div><input type="checkbox" name="dificultadcheck" value="avanzado"> Avanzado</input>
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i>
                            <span class="checkmark"></span>
                        </div>
                    </div>
                
                    <br>
                    <div class="check-edad">
                        <h3>Edad</h3>
                        <div><input type="checkbox" name="edadcheck" value="niños"> Niños</input>
                            <span class="checkmark"></span>
                        </div>
                        <div><input type="checkbox" name="edadcheck" value="adolescentes"> Adolescentes</input>
                            <span class="checkmark"></span>
                        </div>
                        <div><input type="checkbox" name="edadcheck" value="jóvenes"> Jovenes</input>
                            <span class="checkmark"></span>
                        </div>
                        <div><input type="checkbox" name="edadcheck" value="adultos"> Adultos</input>
                            <span class="checkmark"></span>
                        </div>
                    </div>

                    <button class="button-filter" type="submit">Aplicar filtros</button>
                </form>

                </section>

            <section class="productos-display">

                <div class="actividades-contenedor">

                    <% productos.forEach(product=> { %>
                    <% if (product.category === "Yoga") { %>
                     
                    <article class="actividad-ejemplo">

                        <div class="foto">
                            <div class="etiqueta-actividad">
                                <p><%= product.category %></p>
                            </div>
                            <img src="/images/productos/<%= product.image %>" alt="<%= product.subcategory %>">
                        </div>

                        <div class="info">
                            <h3 class="texto-actividad bebas">
                                <%= product.activity_name %>
                            </h3>
                        <p class="texto-actividad"><%= product.aliado_id %></p>
                        <p class="texto-actividad">Dificultad</p>
                        <div class="texto-actividad">
                            <p class="texto-actividad">
                            <%= product.difficulty %>
                            </p>
                            <!---<i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i></i><i
                                class="fa-regular fa-star"></i>--->
                        </div>

                        <div class="seccion-texto">
                            <p class="texto-actividad">Disponibilidad</p>
                            <h3>40</h3>
                        </div>
                        <div class="seccion-texto">
                            <p class="texto-actividad">Inscriptos</p>
                            <h3><%= product.spots %></h3>
                        </div>
                        <div class="seccion-texto">
                            <p class="texto-actividad">Valor</p>
                            <h3><%= product.price %></h3>
                        </div>

                        <div class="descripcion-actividad">
                            <p>Descripción:</p>
                            <p><%= product.product_description %></p>
                        </div>
                        <div class="ver-detalle">
                            <a href="/product/<%= product.id %>/productDetail"><button class="bebas">Ver Detalle del producto</button></a>
                        </div>
                        </div>

                    </article>
                    <!----
                    <article class="actividad-ejemplo">

                        <div class="foto">
                            <div class="etiqueta-actividad">
                                <p>Yoga</p>
                            </div>
                            <img src="/images/productos/yoga1.jpg" alt="claseYoga">
                        </div>

                        <div class="info">
                        <h3 class="texto-actividad">Yoga al aire libre</h3>
                        <p class="texto-actividad">Mayra Bilo</p>
                        <p class="texto-actividad">Dificultad</p>
                        <div class="texto-actividad"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-regular fa-star"></i></i><i class="fa-regular fa-star"></i></i><i
                                class="fa-regular fa-star"></i></div>

                        <div class="seccion-texto">
                            <p class="texto-actividad">Disponibilidad</p>
                            <h3>20</h3>
                        </div>
                        <div class="seccion-texto">
                            <p class="texto-actividad">Inscriptos</p>
                            <h3>10</h3>
                        </div>
                        <div class="seccion-texto">
                            <p class="texto-actividad">Valor</p>
                            <h3>$6.500</h3>
                        </div>

                        <div class="descripcion-actividad">
                            <p>Descripción:</p>
                            <p>Cambiá tu forma de practicar yoga y conectate con tu cuerpo y grupo.</p>
                        </div>
                        <div class="leermas">
                            <button>
                                <p>Leer más</p>
                            </button>
                        </div>
                        </div>
                    </article>

                    <article class="actividad-ejemplo">

                        <div class="foto">
                            <div class="etiqueta-actividad">
                                <p>Yoga</p>
                            </div>
                            <img src="/images/productos/yoga1.jpg" alt="claseYoga">
                        </div>

                        <div class="info">
                        <h3 class="texto-actividad">Yoga flex</h3>
                        <p class="texto-actividad">Mayra Bilo</p>
                        <p class="texto-actividad">Dificultad</p>
                        <div class="texto-actividad"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i></i><i
                                class="fa-regular fa-star"></i></div>

                        <div class="seccion-texto">
                            <p class="texto-actividad">Disponibilidad</p>
                            <h3>40</h3>
                        </div>
                        <div class="seccion-texto">
                            <p class="texto-actividad">Inscriptos</p>
                            <h3>20</h3>
                        </div>
                        <div class="seccion-texto">
                            <p class="texto-actividad">Valor</p>
                            <h3>$8.500</h3>
                        </div>

                        <div class="descripcion-actividad">
                            <p>Descripción:</p>
                            <p>Cambiá tu forma de practicar yoga y conectate con tu cuerpo y grupo.</p>
                        </div>
                        <div class="leermas">
                            <button>
                                <p>Leer más</p>
                            </button>
                        </div>
                        </div>

                    </article>

                    <article class="actividad-ejemplo">

                        <div class="foto">
                            <div class="etiqueta-actividad">
                                <p>Yoga</p>
                            </div>
                            <img src="/images/productos/yoga3.jpg" alt="claseYoga">
                        </div>

                        <div class="info">
                        <h3 class="texto-actividad">Yoga flex</h3>
                        <p class="texto-actividad">Jacinta Mayol</p>
                        <p class="texto-actividad">Dificultad</p>
                        <div class="texto-actividad"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i></i><i
                                class="fa-regular fa-star"></i></div>

                        <div class="seccion-texto">
                            <p class="texto-actividad">Disponibilidad</p>
                            <h3>40</h3>
                        </div>
                        <div class="seccion-texto">
                            <p class="texto-actividad">Inscriptos</p>
                            <h3>20</h3>
                        </div>
                        <div class="seccion-texto">
                            <p class="texto-actividad">Valor</p>
                            <h3>$8.500</h3>
                        </div>

                        <div class="descripcion-actividad">
                            <p>Descripción:</p>
                            <p>Creá tu propia rutina de Yoga que se adapte a tu cuerpo y modo de vida. Ideal para
                                practicar en viajes o en tu día para cortar.</p>
                        </div>
                        <div class="leermas">
                            <button>
                                <p>Leer más</p>
                            </button>
                        </div>
                        </div>

                    </article>
                    ---->
                    <% } %>
                    <% }) %>
                </div>

            </section>
        </div>
        </main>
        
        <%- include("../partials/footer") %>
            <button class="consultas">
                <i class="fa-regular fa-circle-question fa-lg" style="color: #ffffff;"></i>
                Consultas</button>
                <script src="/js/productList.js"></script>
                <script src="/js/menuFiltros.js"></script>
</body>

</html>