<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
        <link rel="stylesheet" href="/css/productList.css">
</head>

<body>
    <%- include("../partials/header") %>
        <main>
            <section class="titulo-general">
                <h1>CLASES</h1>
                <h3>Armá tu calendario para lograr tus objetivos</h3>
            </section>


            <section class="nav-filtros">
                <select id="miSelect">
                    <option>Todos</option>
                    <option>Yoga</option>
                    <option>Fitness</option>
                    <option>Danzas</option>
                    <option>Deportes</option>
                </select>

            </section>


            <div class="container-grid">

                <section class="side-bar">

                    <div class="check-dificultad">
                        <h3>Dificultad</h3>
                        <div><input type="checkbox" name="dificultadcheck" value="principiante"> Principiante</input>
                            <i class="fa-solid fa-star"></i>
                            <span class="checkmark"></span>
                        </div>
                        <div><input type="checkbox" name="dificultadcheck" value="fácil"> Fácil</input>
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                            <span class="checkmark"></span>
                        </div>
                        <div><input type="checkbox" name="dificultadcheck" value="intermedio"> Intermedio</input>
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i>
                            <span class="checkmark"></span>
                        </div>
                        <div><input type="checkbox" name="dificultadcheck" value="difícil"> Difícil</input>
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                            <span class="checkmark"></span>
                        </div>
                        <div><input type="checkbox" name="dificultadcheck" value="avanzado"> Avanzado</input>
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i>
                            <span class="checkmark"></span>
                        </div>
                    </div>
                    <br>
                    <div class="check-edad">
                        <h3>Edad</h3>
                        <div><input type="checkbox" name="edadcheck" value="niños"> Niños</input>
                            <span class="checkmark"></span>
                        </div>
                        <div><input type="checkbox" name="edadcheck" value="adolescentes"> Adolescentes</input>
                            <span class="checkmark"></span>
                        </div>
                        <div><input type="checkbox" name="edadcheck" value="jóvenes"> Jovenes</input>
                            <span class="checkmark"></span>
                        </div>
                        <div><input type="checkbox" name="edadcheck" value="adultos"> Adultos</input>
                            <span class="checkmark"></span>
                        </div>
                    </div>

                </section>

                <section class="productos-display">

                    <section class="fitness">

                        <!--<div class="titulo-fitness">
                            <h3>FITNESS</h3>
                            <a href="/product/productListFitness"><button>
                                <p>ver todo</p>
                            </button></a>
                        </div>--->

                        <div class="actividades-container">
                            <% productos.forEach(producto => { %>
                    
                                <article class="actividad-ejemplo">

                                    <div class="foto">
                                        <div class="etiqueta-actividad">
                                            <p>
                                                <%= producto.category %>
                                            </p>
                                        </div>
                                        <img src="/images/productos/<%= producto.image %>" alt="<%= producto.subcategory %>">
                                    </div>

                                    <div clas="info">
                                        <h3 class="texto-actividad bebas">
                                            <%= producto.activity_name %>
                                        </h3>
                                        
                                        <p class="texto-actividad">Dificultad</p>
                                        <div class="texto-actividad">
                                            <p class="texto-actividad">
                                                <%= producto.difficulty %>
                                            </p>
                                            <!-- <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                                class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i></i><i
                                                class="fa-regular fa-star"></i> -->
                                        </div>

                                        <div class="seccion-texto">
                                            <p class="texto-actividad">Disponibilidad</p>
                                            <h3>
                                                <%= producto.spots %>
                                            </h3>
                                        </div>
                                        <div class="seccion-texto">
                                            <p class="texto-actividad">Valor</p>
                                            <h3>
                                                <%= producto.price %>
                                            </h3>
                                        </div>

                                        <div class="descripcion-actividad">
                                            <p>Descripción:</p>
                                            <p>
                                                <%= producto.product_description %>
                                            </p>
                                        </div>
                                        <div class="ver-detalle">
                                              <a href="/product/<%= producto.id %>/productDetail"><button>Ver Detalle del producto</button></a>
                                        </div>
                                    </div>

                                </article>
                                <% }) %>
                            

                        </div>

                    </section>

                
                </section>

            </div>

        </main>

        <%- include("../partials/footer") %>
            <button class="consultas">
                <i class="fa-regular fa-circle-question fa-lg" style="color: #ffffff;"></i>
                Consultas</button>

                <script src="/js/productList.js"></script>
</body>

</html>