<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
        <link rel="stylesheet" href="/css/perfilAliado.css">
</head>

<body>
    <%- include("../partials/header") %>
    <main class="main">
        <div class="banner-escalada">
            <section class="titulo-general">
            </section>
            <section class="titulo-h1">
                <h1>BIENVENID@ <%= aliado.nombreProfesional %> A NUESTRO EQUIPO DE ALIADOS</h1>
            </section>
        </div>
        <section class="tituloAliado">
        <div class="soyAliado">
            <h4>Soy Aliado</h4>
        </div>
        </section>

<section class="contenedorGlobal">
        <section class="container1-instructor">
            <div class="contenedorImagenEntrenador">
                <img src="/images/aliados/<%= aliado.fotoPerfil %>" alt="imagenGim" class="img-entrenador">
            </div>
            <div>
                <h4>Perfil del Usuario: <%= aliado.perfilUsuario %></h4>
                <h4>Nombres y Apellidos: <%= aliado.nombreProfesional %>  <%= aliado.apellidoProfesional %></h4>
                <h4>Profesión o Servicio: <%= aliado.profesion %></h4>
            </div>
        </section>
        <section class="container2-datos">
            <div class="datosClasAlum">
                <h4>Clases: <h4>  
                    <br>
                <h4>Alumnos: <h4>
            </div>
            <section class="informacion-contacto">
                <h4>Contacto:</h4>
                <div class="desplegable">
                <h5>Ciudad: <%= aliado.ciudad %></h5>
                <h5>Dirección:</h5>
                <h5>Número Celular: <%= aliado.contacto %></h5>
                <h5>E-mail: <%= aliado.email %></h5>
                </div>
            </section>
          
            <div class="perfilProfesional">
                <h2>Perfil Profesional</h2>
            </div>
            <div class="profile__description">
                <p> Ingresa aquí tu perfil profesional </p>
            </div>
            
            <a href="/<%= aliado.identificacion%>/editPerfilAliado" ><input type="button" value="Editar" class="editar"></a>
           
        </section>
        <section class="informacion-legal-aliado">
            <h4>Certificados:</h4>
            <div class="desplegable">
                <h5>Cocumentos legales</h5>
                <p>Desplegar <img src="/images/diseno/caret-down-solid.svg" width="15px"></p>
                </div>
                <div class="desplegable">
                    <h5>Certificados de enseñanza</h5>
                    <p>Desplegar <img src="/images/diseno/caret-down-solid.svg" width="15px"></p>
                    </div>
        </section>
        <section class="clasesTitulo">
            <h3>Clases:</h3>

            <div class="clasesAliado">
            <div class="clases">
            <div class="contenedor-de-clases">
                <a href="/createProduct"><button id="crearClase" class="boton-crearClase" type="button">Crear Clase</button></a>
            </div>
        </div>
            <div class="clases">
                <div class="contenedor-de-clases">
                    <a href="/createProduct"><button id="crearClase" class="boton-crearClase" type="button">Crear Clase</button></a>
                </div>
            </div>
                <div class="clases">
                    <div class="contenedor-de-clases">
                <a href="/createProduct"><button id="crearClase" class="boton-crearClase" type="button">Crear Clase</button></a>
                    </div>
                </div>
                    <div class="clases">
                        <div class="contenedor-de-clases">
                            <a href="/createProduct"><button id="crearClase" class="boton-crearClase" type="button">Crear Clase</button></a>
                        </div>
        </div>  
            </div>
         
        </section>
        <section>
            <div class="calendario">
            <h4>Calendario:</h4>
            <p>Desplegar <img src="/images/diseno/caret-down-solid.svg" width="15px"></p>
        </div>
            <br>
            <div class="galeriaImagenes">
            <h4>Galeria de imágenes:</h4>
            
            <h5>Fotos de entrenamiento y clases con alumnos</h5>
            <p>Desplegar <img src="/images/diseno/caret-down-solid.svg" width="15px"></p>
        </div>
        </section>
        <section class="aliados">
            <div>
                <h4>Aliados</h4>
                <i class="fa-solid fa-caret-right fa-lg" style="color: #000000;"></i>
            </div>
            <img src="/images/diseno/logoAlmaYoga.png" class="logo-aliado1" width="100px">
        </section> 
    </section>

    </main>
    <%- include("../partials/footer") %>
    <button class="consultas">
        <i class="fa-regular fa-circle-question fa-lg" style="color: #ffffff;"></i>
        Consultas</button>
</body>
</html>
