<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="/css/register.css" />
  </head>

  <body>
    <%- include("../partials/header") %>
    <main class="mainRegister2">
      <section class="container-1A">
        <img
          src="./images/images-register-login/registro-Aliados.jpg"
          alt="imagen1"
        />
        <div class="part2">
          <h1>Registro Aliados: Prestadores de Servicios</h1>
          <br />
          <p>
            Bienvenido, es hora de hacer parte de nuestra comunidad de Aliados
            en deporte y actividad física
          </p>
        </div>
        <div class="introducción">
          <h2>
            Buscamos empresas o trabajadores independientes en diferentes áreas
            del trabajo físico, que se comprometan a prestar servicios como
            expertos y con el sello de nuestra comunidad: Calidad y Garantía.
          </h2>
          <div class="datos1">
            <p>
              Debes tener estos documentos para tu registro y adjuntarlos al
              formulario:
            </p>
            <p>
              * Si eres empresa: Código Único de Identificación Tributaria y
              documento de identidad de representante legal.
            </p>
            <p>* Si eres persona natural: DNI.</p>
            <p>* Certificado de Estudios y/o trabajos en tu profesión.</p>
            <p>* Certificados de autorización de prestación de servicios.</p>
            <p>
              * Fotos de la entidad deportiva o del profesional en actividad
              física y servicios que ofrece.
            </p>
          </div>
        </div>
      </section>
      <section class="container-2A">
        <h2>Comencemos...</h2>
        <form
          action="/registerAliados"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="grupo-de-registrosPerfil">
            <label id="perfilUsuario" for="perfilUsuario"
              >Perfil de Usuario:</label
            >
            <br />
            <select id="perfilUsuario" name="perfilUsuario" required>
              <br />
              <option value="Empresa Deportiva">Empresa Deportiva</option>
              <option value="Profesional Físico">Profesional Físico</option>
            </select>
          </div>

          <div class="grupo-de-registrosEntidad">
            <label id="nombreEmpresa" for="nombreEmpresa"
              >Nombre de empresa o entidad deportiva:</label
            >
            <br />
            <input
              id="nombreEmpresa"
              type="text"
              name="nombreEmpresa"
              placeholder="Empresa"
            />
            <span class="feedback"></span>
          </div>
          <section class="grupo-de-registrosA1">
            <div>
              <label id="nombreProfesional" for="nombreProfesional"
                >Nombre de profesional deportivo:</label
              >
              <br />
              <input
                id="nombreProfesional"
                type="text"
                name="nombreProfesional" class="<%= locals.errors && errors.nombre ? 'is-invalid' : null %>"
                value="<%= locals.oldData ? oldData.nombre : null %>"
                placeholder="Ingresa tu Nombre">
                <% if (locals.errors && errors.nombre) { %>
                  <div class="text-danger">
                      <%= errors.nombre.msg %>
                  </div>
                  <% } %>
            
          </div>

            </div>

            <div>
              <label id="apellidoProfesional" for="apellidoProfesional"
                >Apellidos de profesional deportivo:
              </label>
              <br />
              <input
                id="apellidoProfesional"
                type="text"
                name="apellidoProfesional"
                placeholder="Ingresa tus Apellidos"
                required
              />
              <span class="feedback"></span>
            </div>
          </section>
          <div class="grupo-de-registrosUsuarios">
            <label id="profesionServicio" for="profesionServicio"
              >Profesión o Servicio:</label
            >
            <input
              id="profesionServicio"
              type="text"
              name="profesionServicio"
              placeholder="profesión o servicio"
              required
            />
            <span class="feedback"></span>
          </div>
          <div class="grupo-indicarSexo" required>
            <label for="sexo">Hombre</label
            ><input type="radio" name="sexo" id="hombre" value="hombre" />
            <label for="sexo">Mujer</label
            ><input type="radio" name="sexo" id="mujer" value="mujer" />
            <label for="sexo">Otro</label
            ><input type="radio" name="sexo" id="otro" value="otro" />
          </div>

          <section class="grupo-de-registrosIdentificación">
            <div>
              <label id="tipoIdentificacion" for="tipoIdentificacion"
                >Tipo:</label
              >
              <br />
              <select
                id="tipoIdentificacion"
                name="tipoIdentificacion"
                required
              >
                <br />
                <option value="DNI">DNI</option>
                <option value="CUIT">CUIT</option>
              </select>
            </div>
            <div>
              <label id="numeroIdentificacion" for="numeroIdentificacion"
                >Número de Identificación:</label
              >
              <br />
              <input
                id="numeroIdentificacion"
                type="text"
                name="numeroIdentificacion"
                placeholder="Ingresa tu Identificación"
                required
              />
              <span class="feedback"></span>
            </div>
          </section>
          <section class="grupo-de-registrosA1">
            <div>
              <label id="fechaNacimiento" for="fechaNacimiento"
                >Fecha de Nacimiento:
              </label>
              <br />
              <input
                id="fechaNacimiento"
                type="date"
                name="fechaNacimiento"
                required
              />
              <span class="feedback"></span>
            </div>
            <div>
              <label id="ciudadResidencia" for="ciudadResidencia"
                >Ciudad:
              </label>
              <br />
              <select
                class="option"
                id="ciudadResidencia"
                name="ciudadResidencia"
                required
              >
                >
                <br />
                <option>Buenos Aires</option>
                <option>Córdoba</option>
                <option>Rosario</option>
                <option>Tucumán</option>
                <option>Mendoza</option>
                <option>Mar del plata</option>
                <option>Bahía Blanca</option>
                <option>Santa Fe</option>
              </select>
            </div>
          </section>
          <section class="grupo-de-registrosA1">
            <div>
              <label id="celular" for="celular">N° Celular: </label>
              <input
                id="celular"
                type="text"
                name="celular"
                placeholder="Ingresa tu # Celular"
                required
              />
              <span class="feedback"></span>
            </div>
            <div>
              <label id="email" for="email">E-mail: </label>
              <input
                id="email"
                type="email"
                name="email"
                placeholder="Ingresa tu correo electrónico"
                required
              />
              <span class="feedback"></span>
            </div>
          </section>
          <section class="grupo-de-registrosDocumentos">
            <label id="fotoPerfil" for="fotoPerfil">Subir Foto Perfil:</label>

            <input
              id="fotoPerfil"
              type="file"
              name="fotoPerfil"
              multimpleaccept="document/*"
            />
          </section>
          <section class="grupo-de-registrosDocumentos">
            <label id="documentosLegales" for="documentosLegales"
              >Subir documentos legales:</label
            >

            <input
              id="documentosLegales"
              type="file"
              name="documentosLegales"
              multimpleaccept="document/*"
            />
          </section>
          <section class="grupo-de-registrosDocumentos">
            <label id="tituloProfesional" for="tituloProfesional"
              >Surbir certificados de enseñanza:</label
            >

            <input
              id="tituloProfesional"
              type="file"
              name="tituloProfesional"
              multimpleaccept="document/*"
            />
          </section>

          <div class="grupo-de-registrosUsuarios">
            <label id="password" for="password">Contraseña:</label>
            <input
              id="password"
              type="password"
              name="password"
              placeholder="Crear Contraseña"
            />
            <span class="feedback"></span>
          </div>
          <div class="grupo-de-registrosUsuarios">
            <input
              id="confirmarContrasena"
              type="password"
              name="confirmarContrasena"
              placeholder="Confirmar Contraseña"
            />
            <span class="feedback"></span>
          </div>
          <br />
          <div class="condiciones">
            <input
              type="checkbox"
              name="terminosCondiciones"
              value="terminos y condiciones"
            />Acepto los términos y condiciones de uso del sitio web.
            <br />
            <input
              type="checkbox"
              name="terminosCondiciones"
              value="Políticas de privacidad"
            />Acepto el tratamiento de datos personales según la política de
            privacidad con el fin de ser contactado por WorkoutEasy a través de
            los medios suministrados y/o recibir información relacionada con
            productos/servicios.
            <span class="feedback"></span>
          </div>
          <div class="boton">
            <input id="enviar" type="submit" value="Registrarse" />
          </div>
        </form>
      </section>
    </main>
    <%- include("../partials/footer") %>
    <button class="consultas">
      <i class="fa-regular fa-circle-question fa-lg" style="color: #ffffff"></i>
      Consultas
    </button>
  </body>
</html>
