<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/head") %>
    <link rel="stylesheet" href="/css/register.css" />
</head>

<body>
  <%- include("../partials/header") %>
    <main class="mainRegister2">
      <section class="container-1A">
        <img src="./images/images-register-login/registro-Aliados.jpg" alt="imagen1" />
        <div class="part2">
          <h1>Registro Aliados: Prestadores de Servicios</h1>
          <br />
          <p>
            Bienvenido, es hora de hacer parte de nuestra comunidad de Aliados
            en deporte y actividad física
          </p>
        </div>
        <div class="introducción">
          <h2>
            Buscamos empresas o trabajadores independientes en diferentes áreas
            del trabajo físico, que se comprometan a prestar servicios como
            expertos y con el sello de nuestra comunidad: Calidad y Garantía.
          </h2>
          <div class="datos1">
            <p>
              Debes tener estos documentos para adjuntarlos a tu perfil una vez se haga el registro:
            </p>
            <p>
              * Si eres empresa: Código Único de Identificación Tributaria y
              documento de identidad de representante legal.
            </p>
            <p>* Si eres persona natural: DNI.</p>
            <p>* Certificado de Estudios y/o trabajos en tu profesión.</p>
            <p>* Certificados de autorización de prestación de servicios.</p>
            <p>
              * Fotos de la entidad deportiva o del profesional en actividad
              física y servicios que ofrece.
            </p>
          </div>
        </div>
      </section>

      <section class="container-2A" id="formulario">
        <h2>Comencemos...</h2>

        <form action="/registerAliados" method="POST" enctype="multipart/form-data">

          <div class="grupo-de-registrosPerfil">

            <label id="perfilUsuario" for="perfilUsuario">Perfil de Usuario:</label>
            <br />
            <select id="perfilUsuario" name="aliado_profile">
              <br />
              <option value="Empresa Deportiva">Empresa Deportiva</option>
              <option value="Profesional Físico">Profesional Físico</option>
            </select>

          </div>

          <div class="grupo-de-registrosEntidad" id="entidadDeportiva">

            <label>Nombre de empresa o entidad deportiva:</label>

            <input type="text" name="entity_name" placeholder="Empresa"
              class="<%= locals.errors && errors.entity_name ? 'is-invalid' : null %>"
              value="<%= locals.oldData ? oldData.entity_name : null %>" id="entity_name">
            
            <% if (locals.errors && errors.entity_name) { %>
             
             <div class="text-danger">
                <%= errors.entity_name.msg %>
              </div>
              <% } %>
              <span></span>
          </div>

          <section class="grupo-de-registrosA1">

            <div>
              <label>Nombre de profesional deportivo:</label>
              <br />

              <input type="text" name="first_name" id="first_name"
                class="<%= locals.errors && errors.first_name ? 'is-invalid' : null %>"
                value="<%= locals.oldData ? oldData.first_name : null %>" placeholder="Ingresa tu Nombre">

              <% if (locals.errors && errors.first_name) { %>

                <div class="text-danger">
                  <%= errors.first_name.msg %>
                </div>
                <% } %>
                <span></span>
            </div>

            </div>

            <div>
              <label id="apellido" for="apellido">Apellidos de profesional deportivo:
              </label>

              <br />
              <input type="text" name="last_name" id="last_name"
                class="<%= locals.errors && errors.last_name ? 'is-invalid' : null %>"
                value="<%= locals.oldData ? oldData.last_name : null %>" placeholder="Ingresa tus Apellidos">

              <% if (locals.errors && errors.last_name) { %>
                <div class="text-danger">
                  <%= errors.last_name.msg %>
                </div>
                <% } %>
                <span></span>
            </div>
          </section>

          <div class="grupo-de-registrosUsuarios">
            <label>Profesión o Servicio:</label>
            <input type="text" name="services" id="services" placeholder="profesión o servicio"
              value="<%= locals.oldData ? oldData.services : null %>">

            <% if (locals.errors && errors.services) { %>
              <div class="text-danger">
                <%= errors.services.msg %>
              </div>
              <% } %>
              <span></span>
          </div>

          <div class="grupo-indicarSexo">
            <label for="sexo">Hombre</label><input type="radio" name="genre">
            <label for="sexo">Mujer</label><input type="radio" name="genre">
            <label for="sexo">Otro</label><input type="radio" name="genre">

            <% if (locals.errors && errors.genre) { %>
              <div class="text-danger">
                <%= errors.genre.msg %>
              </div>
              <% } %>
          </div>


          <section class="grupo-de-registrosIdentificación">
            <div>
              <label>Tipo:</label>
              <br />
              <select name="document">

                <br />
                <option value="DNI">DNI</option>
                <option value="CUIT">CUIT</option>
              </select>

            </div>
            <div>

              <label>Número de Identificación:</label>
              <br />
              <input name="document_number" id="document_number" placeholder="Ingresa tu Identificación"
                value="<%= locals.oldData ? oldData.document_number : null %>">

              <% if (locals.errors && errors.document_number) { %>
                <div class="text-danger">
                  <%= errors.document_number.msg %>
                </div>
                <% } %>
                <span></span>
            </div>

          </section>
          <section class="grupo-de-registrosA1" id="errors">
            <div>
              <label>Fecha de Nacimiento:
              </label>
              <br />
              <input type="date" name="birth_date" id="birth_date">

              <% if (locals.errors && errors.birth_date) { %>
                <div class="text-danger">
                  <%= errors.birth_date.msg %>
                </div>
                <% } %>
                <span></span>
            </div>
            <div>
              <label>Ciudad ubicación de servicios:
              </label>
              <br />
              <select name="services_city">

                <br />
                <option value="">Elegí una ciudad</option>


                <% let ciudades=['Buenos Aires', 'Caracas' , 'Venado Tuerto' , 'Bahía Blanca' ]; %>
                  <% for (const oneCity of ciudades) { %>
                    <option value="<%= oneCity%>" <%=locals.oldData && (oneCity===oldData.services_city) ? 'selected' : null %>
                      id="services_city">
                      <%= oneCity%>
                    </option>
                    <% }%>
                    <span></span>
              </select>
            </div>
          </section>

          <section class="grupo-de-registrosA1">
            <div>
              <label>N° Celular: </label>
              <input name="contact_number" id="contact_number" placeholder="Ingresa tu # Celular 54 9-" type="text"
                value="<%= locals.oldData ? oldData.contact_number : null %>">

              <% if (locals.errors && errors.contact_number) { %>
                <div class="text-danger">
                  <%= errors.contact_number.msg %>
                </div>
                <% } %>
                <span></span>
            </div>
            <div>
              <label>E-mail: </label>
              <input name="email" type="text" class="<%= locals.errors && errors.email ? 'is-invalid' : null %>"
              type="email" value="<%= locals.oldData ? oldData.email : null %>" id="email"
                placeholder="Ingresa tu correo electrónico">

              <% if (locals.errors && errors.email) { %>
                <div class="text-danger">
                  <%= errors.email.msg %>
                </div>
                <% } %>
                <span></span>
            </div>
          </section>

          <section class="grupo-de-registrosDocumentos">
            <label  for="avatar">Subir foto de perfil:</label>
                        <input name="avatar" type="file" value="<%= locals.oldData ? oldData.avatar : null %>" id="avatar">

                        <% if (locals.errors && errors.avatar) { %>
                          <div class="text-danger">
                            <%= errors.avatar.msg %>
                          </div>
                          <% } %>
                          <span></span>
          </section>

          <div class="grupo-de-registrosUsuarios">
            <label>Contraseña:</label>

            <input type="password" name="password" id="password" placeholder="Crear Contraseña"
              value="<%= locals.oldData ? oldData.password : null %>">

            <% if (locals.errors && errors.password) { %>
              <div class="text-danger">
                <%= errors.password.msg %>
              </div>
              <% } %>
              <span></span>
          </div>

          <!---<div class="grupo-de-registrosUsuarios">
            <input
              id="confirmarContrasena"
              type="password"
              name="confirmarContrasena"
              placeholder="Confirmar Contraseña"
            />
            <span class="feedback"></span>
          </div>--->

          <br />
          <div class="condiciones">

            <input type="checkbox" value="true" name="condiciones">Acepto los términos y
            condiciones de uso del sitio web.

            <% if (locals.errors && errors.condiciones) { %>
              <div class="text-danger">
                <%= errors.condiciones.msg %>
              </div>
              <% } %>

                <br />
                <input type="checkbox" value="true" name="privacidad">Acepto el
                tratamiento de datos personales según la política de
                privacidad con el fin de ser contactado por WorkoutEasy a través de
                los medios suministrados y/o recibir información relacionada con
                productos/servicios.

                <% if (locals.errors && errors.privacidad) { %>
                  <div class="text-danger">
                    <%= errors.privacidad.msg %>
                  </div>
                  <% } %>

          </div>

          <div class="boton">
            <input id="enviar" type="submit" value="Registrarse"/>
          </div>

        </form>
        <script src="/js/formRegistroAliado.js"></script>
      </section>
    </main>
    <%- include("../partials/footer") %>
      <button class="consultas">
        <i class="fa-regular fa-circle-question fa-lg" style="color: #ffffff"></i>
        Consultas
      </button>
</body>

</html>