<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
        <link rel="stylesheet" href="/css/register.css">
</head>

<body>
    <%- include("../partials/header") %>
        <main>
            <section class="container-1">
                <img src="./images/images-register-login/editworkouteasy3-a-copy.png" alt="imagen1">
            </section>
            <section class="container-2">
                <h2>Regístrate como:</h2>


                <div class="botones">
                    <button id="Usuario" class="button-r" type="button">Cliente</button>

                    <script>
                        const miBoton = document.getElementById('Usuario');

                        miBoton.addEventListener('click', function () {
                            miBoton.classList.add('clicked');
                        });
                    </script>


                    <a href="/registerAliados"><button id="Aliado" class="button-r" type="button">Aliado</button></a>
                </div>

                <!--- Formulario --->

                <form action="/register" method="POST" enctype="multipart/form-data">

                    <p>Ingresa con tus redes sociales</p>

                    <div class="redes-sociales">
                        <button id="facebook"><i class="fa-brands fa-facebook-f" style="color:#fff"></i></button>
                        <button id="apple"><i class="fa-brands fa-apple"></i></button>
                        <button id="google-logo"><i class="fa-brands fa-google"></i></button>
                    </div>

                    <section class="grupo-de-registrosA1">

                        <div>
                            <label>Nombre:</label>

                        
                                <input type="text" name="first_name" placeholder="Ingresa tu nombre"
                                class="<%= locals.errors && errors.first_name ? 'is-invalid' : null %>"
                                value="<%= locals.oldData ? oldData.first_name : null %>" id="first_name">
                            <% if (locals.errors && errors.first_name) { %>
                                <div class="text-danger">
                                    <%= errors.first_name.msg %>
                                </div>
                                <% } %>
                                <span></span>

                        </div>

                        <div>
                            <label>Apellido: </label>

                            <input class="input-selecto <%= locals.errors && errors.last_name ? 'is-invalid' : null %>"
                                type="text" name="last_name" id="last_name" value="<%= locals.oldData ? oldData.last_name : null %>"
                                placeholder="Ingresa tu apellido">

                            <% if (locals.errors && errors.last_name) { %>
                                <div class="text-danger">
                                    <%= errors.last_name.msg %>
                                </div>
                                <% } %>
                                <span></span>
                        </div>

                    </section>

                    <div class="grupo-indicarSexo">

                        <label for="">Hombre</label><input type="radio" name="genre" id="hombre" value="hombre">
                        <label for="">Mujer</label><input type="radio" name="genre" id="mujer" value="mujer">
                        <label for="">Otro</label><input type="radio" name="genre" id="otro" value="otro">

                        <% if (locals.errors && errors.genre) { %>
                            <div class="text-danger">
                                <%= errors.genre.msg %>
                            </div>
                            <% } %>
                            <span></span>
                    </div>

                    <section class="grupo-de-registrosA1">

                        <div>
                            <label id="fecha de nacimiento" for="fecha de nacimiento">Fecha de nacimiento: </label>

                            <input type="date" name="birth_date" id="birth_date">

                                <% if (locals.errors && errors.birth_date) { %>
                                    <div class="text-danger">
                                    <%= errors.birth_date.msg %>
                                    </div>
                                    <% } %>
                                    <span></span>
                        </div>

                        <div>
                            <label>Ciudad de Residencia: </label>

                            <select class="option" name="city" id="city">
                                <br>
                                <option value="">Elegí una ciudad</option>


                                <% let ciudades=['Buenos Aires', 'Caracas' , 'Venado Tuerto' , 'Bahía Blanca' ]; %>
                                    <% for (const oneCity of ciudades) { %>
                                        <option value="<%= oneCity%>" <%=locals.oldData && (oneCity===oldData.city)
                                            ? 'selected' : null %> >
                                            <%= oneCity%>
                                        </option>
                                        <% }%>
                            </select>
                            
                        </div>

                        <% if (locals.errors && errors.city) { %>
                            <div class="text-danger">
                                <%= errors.city.msg %>
                            </div>
                            <% } %>
                            <span></span>

                    </section>

                    <section class="grupo-de-registrosA1">

                        <div>
                            <label>N° Celular: </label>
                            <input name="contact_number" id="contact_number" placeholder="Ingresa tu # Celular 54 9-" type="text"
                              value="<%= locals.oldData ? oldData.contact_number : null %>">
              
                            <% if (locals.errors && errors.contact_number) { %>
                              <div class="text-danger">
                                <%= errors.contact_number.msg %>
                              </div>
                              <% } %>
                              <span></span>
                          </div>

                          <div>
                            <label>E-mail: </label>
                            <input name="email" type="text" class="<%= locals.errors && errors.email ? 'is-invalid' : null %>"
                            type="email" value="<%= locals.oldData ? oldData.email : null %>" id="email"
                              placeholder="Ingresa tu correo electrónico">
              
                            <% if (locals.errors && errors.email) { %>
                              <div class="text-danger">
                                <%= errors.email.msg %>
                              </div>
                              <% } %>
                              <span></span>
                          </div>

                    </section>


                    <section class="grupo-de-registrosUsuarios">
                        <label id="avatar" for="avatar">Subir foto de perfil:</label>
                        <input id="avatar" type="file" name="avatar" id="avatar"
                            value="<%= locals.oldData ? oldData.avatar : null %>">

                        <% if (locals.errors && errors.avatar) { %>
                            <div class="text-danger">
                                <%= errors.avatar.msg %>
                            </div>
                            <% } %>
                            <span></span>
                    </section>

                    <section class="grupo-de-registrosA1">

                        <div>
                            <label id="contraseña" for="contraseña">Contraseña:</label>
                            <input type="password" name="password" id="password" placeholder="Crear Contraseña"
                            value="<%= locals.oldData ? oldData.password : null %>">
              
                          <% if (locals.errors && errors.password) { %>
                            <div class="text-danger">
                              <%= errors.password.msg %>
                            </div>
                            <% } %>
                            <span></span>

                        </div>

                        <!---<div>
                            <label id="confirmar contraseña" for="confirmar contraseña">Confirmar :</label>
                            <input class="input-selecto" id="confirmar contraseña" type="password"
                                name="password-confirm" placeholder="Confirmar Contraseña">
                        </div>--->

                        <% if (locals.errors && errors.password) { %>
                            <div class="text-danger">
                                <%= errors.password.msg %>
                            </div>
                            <% } %>
                            <span></span>

                    </section>


                    <br>

                    <div class="condiciones">
                        <input type="checkbox" name="condiciones" id="condiciones" value="true">Acepto los
                        términos
                        y condiciones de uso del sitio web.
                        <% if (locals.errors && errors.condiciones) { %>
                            <div class="text-danger">
                                <%= errors.condiciones.msg %>
                            </div>
                            <% } %>
                            <span></span>
                                <br>
                                <input type="checkbox" name="privacidad" id="privacidad" value="true">Acepto el
                                tratamiento de datos personales según la política de privacidad con el fin de ser
                                contactado por
                                WorkoutEasy a través de los genres suministrados y/o recibir información relacionada con
                                productos/servicios.
                                <% if (locals.errors && errors.privacidad) { %>
                                    <div class="text-danger">
                                        <%= errors.privacidad.msg %>
                                    </div>
                                    <% } %>
                                    <span></span>
                    </div>

                    <div class="boton">
                        <input id="enviar" type="submit" value="Registrarse">
                    </div>

                </form>
            </section>
        </main>
        <%- include("../partials/footer") %>
        <button class="consultas">
            <i class="fa-regular fa-circle-question fa-lg" style="color: #ffffff;"></i>
            Consultas</button>
            
    <script src="/js/formRegistroCliente.js"></script>
</body>

</html>